.left{
	text-align: left;
}

.right{
    text-align: right;
}

.center{
    position: relative;
    text-align: center;
}

.spacer{
	margin-top: 40px;
}

.margin{
	margin: 5px;
}

#main-content
{
	display:none;	
}
